<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BookBeep</title>
</head>
<body>
  <h1>Book Beep</h1>

  <main>
    <!-- ERROR HANDLING HERE? -->
    <%if flash[:notice]%>
    <h3 id="notice"><%= flash[:notice] %></h3>
    <%end%>

    <script type="text/javascript">littleBeep();</script>

    <!-- PATH TO NEW ITEMS -->
    <section class="", id="libris-search-form">
      <h2>Add new items through Libris</h2>
      <%= form_tag(create_library_item_path, :method => "post", type: "number") do %>
      <%= text_field_tag :isbn, params[:isbn], placeholder: "Search for #{params[:isbn]}" %>
      <%= submit_tag "Add New Item", :name => nil  %>
      <% end %>
    </section>
    <!-- PATH TO VIEW ITEMS -->
    <section class="", id="db-search-form">
      <h2>Search for items in the Book Beep database</h2>
      <%if flash[:notice]%>
      <%end%>
      <%= form_tag(library_items_path, :method => "get") do %>
      <%= select_tag(:search_key, options_for_select([['ISBN', :isbn], ['Title', :title], ['Last Name', :creator_surname]], :isbn))%>
      <%= text_field_tag :search_value, params[:search_value], placeholder: "Search for #{params[:search_value]}" %>
      <%= submit_tag "Search", :name => nil  %>
      <% end %>
    </section>


  </main>

  <p>
  <%= link_to "List catalogue", library_items_path, :method => 'get' %>
  </p>

  <!-- List ten most popular media items -->
  <h2>- där ditt bibliotek sparas på molnet</h2>


</body>
</html>
