<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BookBeep</title>
</head>
<body>
  <h1>Book Beep</h1>
  <main class="row">

    <!-- ERROR HANDLING HERE? -->
    <%if flash[:notice]%>
    <div class="flasher">
      <h4 id="notice"><%= flash[:notice] %></h4>
    </div>
    <%end%>

    <script type="text/javascript">littleBeep();</script>

    <div class="medium-12 large-12 column end">
      <div class="row main-form">
        <!-- PATH TO NEW ITEMS -->
        <h2>Add new items through Libris</h2>
        <section class="show-for-small-only small-12 column", id="libris-search-form">
          <%= form_tag(create_library_item_path, :method => "post") do %>
          <%= text_field_tag :isbn, params[:isbn], placeholder: "Libris ISBN! #{params[:isbn]}" %>
          <%= submit_tag "Add New", :name => nil, class: "row"  %>
          <% end %>
        </section>
        <section class="hide-for-small-only medium-12 column", id="libris-search-form">
          <%= form_tag(create_library_item_path, :method => "post") do %>
          <%= text_field_tag :isbn, params[:isbn], placeholder: "Libris ISBN #{params[:isbn]}" %>
          <%= submit_tag "Add New", :name => nil, class: "row"  %>
          <% end %>
        </section>
      </div>

      <!-- PATH TO VIEW ITEMS -->
      <div class="row main-form">
        <section class="small-12 column", id="db-search-form">
          <h2>Search for items in the Book Beep database</h2>
          <%if flash[:notice]%>
          <%end%>
          <%= form_tag(library_items_path, :method => "get") do %>
          <%= select_tag(:search_key, options_for_select([['ISBN', :isbn], ['Title', :title], ['Last Name', :creator_surname]], :isbn))%>
          <%= text_field_tag :search_value, params[:search_value], placeholder: "Search for #{params[:search_value]}" %>
          <%= submit_tag "Search", :name => nil  %>
          <% end %>
        </section>
      </div>
    </div>


  </main>

  <p>
    <%= link_to "List catalogue", library_items_path, :method => 'get' %>
  </p>

  <!-- List ten most popular media items -->
  <h2>- där ditt bibliotek sparas på molnet</h2>


</body>
</html>
