<%= button_to "Library Main", main_path, method: :get  %>


<section class="medium-10 large-10 column">
  <h2>Search results for <%= "#{params[:search_key].upcase}: #{params[:search_value]}" %></h2>
  <table>
    <thead>
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Creator</th>
        <th scope="col">Date Added</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @library_items.each do |listing| %>
      <tr>
        <td scope="row">
          <%= "#{listing.isbn.to_i}" %>
        </td>
        <td>
          <%= link_to "#{listing.title}", root_path %>
        </td>
        <% if listing.creator_last_name || listing.creator_first_name %>
          <td>
            <% if listing.creator_first_name %>
            <%= "#{listing.creator_first_name}" %>
            <% end %>
            <% if listing.creator_last_name %>
              <%= "#{listing.creator_last_name}" %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to "#{convert_ms_to_time(listing.datetime_created)}", root_path %>
        </td>
        <td>
        </td>
        <td>
          <%= link_to "Delete", root_path, method: :delete, data: { confirm: "Are you sure that this item must be deleted?" }, class: "alert button" %>
        </td>
        <td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
