<%= button_to "Library Main", main_path, method: :get  %>

<!-- ERROR HANDLING HERE? -->
<%if flash[:notice]%>
<div class="flasher row">
  <h3 id="notice"><%= flash[:notice] %></h3>
</div>
<!-- Currently the only flash notice here is for adding data to DynamoDB -->
<script type="text/javascript">bigBeep();</script>
<%end%>
<article class="row">
  <section class="show-for-small-only small-12 column", id="libris-search-form">
    <%= form_tag(create_library_item_path, :method => "post") do %>
    <%= text_field_tag :isbn, params[:isbn], placeholder: "Libris ISBN! #{params[:isbn]}" %>
    <%= submit_tag "Add New", :name => nil, class: "row"  %>
    <% end %>
  </section>

<section class="small-12 medium-10 large-10 column end">
  <h2>Search results for <%= "#{params[:search_key]}: #{params[:search_value]}" %></h2>

<div class="hide-for-small-only">
  <%= render partial: "big_table" %>
</div>

<div class="show-for-small-only">
  <%= render partial: "small_table" %>
</div>


</section>
</article>
