<!DOCTYPE html>
<html>
<head>
  <title>BookBeep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= audio_tag 'beep.mp3', id: 'beep-sound' %>
</head>
<body>
<header>
  <%= image_tag 'bookeep-icon.jpg' %>
</header>

<%= yield %>
<!-- CONTENT FOR JS -->
</body>
</html>
